/* skills */
.section-title{font-size:48px;text-align:center;margin:12px 0 60px; font-weight: normal;}
.skills-grid{display:grid;grid-template-columns:repeat(5,1fr);gap:40px; margin-bottom: 60px;}
.skill-card{border:2px solid var(--accent);padding:20px;border-radius:4px;text-align:center;transition:all .25s; width: 186px;height: 186px;display: flex; flex-flow: column; justify-content: center;}
.skill-card:hover{background:var(--accent);color:var(--bg);transform:translateY(-6px)}
.skill-card.inview{transform:translateY(0)}
.skill-icon{font-size:56px;margin-bottom:8px}
.skill-title {font-size: 20px; font-weight: bold;}
