<div class="container about-grid">
  <div class="about-media">
    <img src="/themes/custom/portfolio/components/aboutme/images/illustration-about.svg" alt="About illustration">
  </div>
  <div class="about-content">
    <h2 class="section-title">{{ 'About'|t }} <strong>{{ 'Me'|t }}</strong></h2>
    <p>{{ summary|raw }}</p>
  </div>
</div>